@import '~@/style/functions';
@import '~@/style/variables';

.page-shopping-list { 
    
    &__list { 
        min-height: calc(100vh - #{$headerHeight});
        padding: px-rem(10px) px-rem($horizontalMargin) 0 px-rem($horizontalMargin);
    }

    &__filter-btn, &__clear-btn {
        margin-right: px-rem(15px);
    }

    &__filter-btn { 
        position: relative;
    }

    &__filter-cancel { 
        position: absolute; 
        right: px-rem(-10px); 
        top: px-rem(-5px); 
        font-size: .6em; 
        line-height: 1.6em; 
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transform-origin: 5px 5px;
        transition:transform .3s ease-out, opacity .3s ease-out, visibility 0s .3s;
        box-shadow: -1px 1px $primaryColor;
        padding-left: 1px;

        .page-shopping-list__filter-btn--filtering & {
            visibility: visible;
            transform: none;
            opacity: 1;
            transition: transform .3s ease-out, opacity .3s ease-out;
        }
    }

    &__add-btn {
        border-radius: 50%; 
        font-size: 2.4em;
        width: 2.3em; 
        height: 2.3em; 
        position: fixed; 
        bottom: px-rem(20px); 
        right: px-rem(20px); 
        box-shadow: 0 5px 8px rgba(#000, .4);
        color: $whiteColor;
        z-index: 4;

        > i {font-size: .9em;}
    }
}