@import './functions';
@import './variables';
@import "./fa/variables";
@import "./mixins";

.centered-content { @include centered-content; }
.abs-centered-self { @include abs-centered-self(both); }
.abs-centered-vert { @include abs-centered-self(vert); }
.abs-centered-hor { @include abs-centered-self(hor); }

.margin-top {@include margin-top;}
.margin-bottom {@include margin-bottom;}
.margin-left {@include margin-left;}
.margin-right {@include margin-right;}
.float-left {@include float-left;}

.h1 { @include header-h1; }
.h2 { @include header-h2; }
.h-border { @include header-border; }

.cropped-text { @include cropped-text; }

.button-reset {
	font-size: inherit; 
	font-family: inherit; 
	border: 0; 
	color: inherit; 
	background: transparent; 
	-webkit-appearance: none; 
	padding: 0;

	&:focus {outline:none;}
}

.button { 
	border-radius: 5px; 
	padding: .7em 1em;

	@extend .button-reset; 
	
	&.warning-color-bg {
		color: $whiteColor;
	}

	&--white {
		background-color: #fff;
	}

	&--fullwidth {
		width: 100%;
	}

	&--fullwidth-margin {
		width: calc(100% - #{px-rem($horizontalMargin*2)}); 
		margin-left: px-rem($horizontalMargin); 
	}

	&[disabled] {
		opacity: .4;
	}
}

.primary-color {
	color: $primaryColor; 
	transition: color .4s ease-out;

	.app:not(.app--online) & {
		color: desaturate($color: $primaryColor, $amount: 40%);
	}
}
.primary-color-bg {
	background-color: $primaryColor; 
	transition: background-color .4s ease-out;

	.app:not(.app--online) & {
		background-color: desaturate($color: $primaryColor, $amount: 40%);
	}
}

.warning-color {
	color: $warningColor; 
	transition: color .4s ease-out;
}

.warning-color-bg {
	background-color: $warningColor; 
	transition: background-color .4s ease-out;
}

.enlarge-clickarea {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: px-rem(-7px);
		top: px-rem(-7px);
		right: px-rem(-7px);
		bottom: px-rem(-7px);
	}
}