@import './variables';
@import './functions';

@mixin fadeOut {
	transition:opacity .4s, visibility 0s .4s;
	visibility: hidden;
	opacity:0;
}

@mixin fadeIn {
	transition:opacity .4s;
	visibility: visible;
	opacity:1;
}

@mixin abs-centered-self($axis:both) {
	position:absolute;
	@if($axis == both) {
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
	}
	@else if($axis == hor) {
		left:50%;
		transform:translateX(-50%);
	}
	@else if($axis == vert) {
		top:50%;
		transform:translateY(-50%);
	}
}

@mixin centered-content {
	display:flex; 
	align-content: center; 
	align-items: center;
}

@mixin cropped-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin float-left {
	float:left;
	width:100%;
}

@mixin header-h1 {
	font-size:$xxlFontSize;
	font-weight:normal;
	color:$headerColor;
}

@mixin header-h2 {
	font-size:$xlFontSize;
	font-weight:normal;
	color:$headerColor;
}

@mixin header-border {
	border-bottom:1px solid #dfdfdf;
	padding-bottom:px-rem(5px);
}

@mixin margin-top($scale:1) {
	margin-top:$verticalMargin*$scale;
}

@mixin margin-left($scale:1) {
	margin-left:$horizontalMargin*$scale;
}

@mixin margin-bottom($scale:1) {
	margin-bottom:$verticalMargin*$scale;
}

@mixin margin-right($scale:1) {
	margin-right:$horizontalMargin*$scale;
}