//font size
$rootFontSize:14px;
$bodyFontSize:1rem;
$xxlFontSize:1.3rem;
$xlFontSize:1.2rem;

//colors
$textColor:#000;
$primaryColor:#2ad4b0;
$whiteColor:#fafafa;
$warningColor:#ff6f00;

$bodyFontFamily:'Lato-Regular', sans-serif;

$headerHeight:50px;
$horizontalMargin: 15px;
$verticalMargin: 20px;
$errorTooltipHeight: 40px;

$zIndexes: menu, page-container, error-tooltip, header;